@model IEnumerable<VUA.Core.Models.Contact>
@{
    ViewData["Title"] = "MESSAGE CENTER";

}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
@if (Model.Any())
{
    <h1>MESSAGES</h1>
    <br />
    @foreach (var message in Model)
    {

        <div class="card">
            <div class="card-header">
                @message.Email
            </div>
            <div class="card-body">
                @message.Message
            </div>
            <div class="card-footer">
                <a asp-action="RestoreMessage" asp-route-Id="@message.Id" class="btn btn-block btn-outline-success">Restore</a>
            </div>


        </div>
        <br />
    }

}
else
{
    <div class="alert alert-dark">
        There are no Messages here!
    </div>
}

