@if (ViewBag.Our?.ToString() == "Teachers")
{
    <div class="site-section ftco-subscribe-1 site-blocks-cover pb-4" style="background-image: url('/AcTemp/images/bg_1.jpg')">
        <div class="container">
            <div class="row align-items-end">
                <div class="col-lg-7">
                    <h2 class="mb-0">About Us</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="custom-breadcrumns border-bottom">
        <div class="container">
            <a asp-action="Index">Home</a>
            <span class="mx-3 icon-keyboard_arrow_right"></span>
            <a asp-action="AboutUs">
                <span>About Us</span>
            </a>
            <span class="mx-3 icon-keyboard_arrow_right"></span>
            <span class="current">Our School</span>
        </div>
    </div>
    @await Component.InvokeAsync("Teacher")
}
else if (ViewBag.Our?.ToString() == "School")
{

    @await Component.InvokeAsync("AboutUs")
    @await Component.InvokeAsync("OurPhilosophyBaner")
}else{

    @await Component.InvokeAsync("AboutUs")
    @await Component.InvokeAsync("OurPhilosophyBaner")
    @await Component.InvokeAsync("Teacher")
}
